body{
font-family:Arial;
background:#f2f4f7;
display:flex;
flex-direction:column;
align-items:center;
}

.container{
width:700px;
background:white;
padding:30px;
margin-top:40px;
border-radius:10px;
}

textarea{
width:100%;
height:150px;
margin-top:10px;
padding:10px;
}

button{
padding:10px 20px;
margin-top:15px;
background:#2b7cff;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.hidden{
display:none;
}

#aiBox{
width:700px;
background:white;
margin-top:20px;
padding:20px;
border-radius:10px;
}

#typing{
font-family:monospace;
white-space:pre-line;
}

.cf-box{
background:white;
border:1px solid #ddd;
padding:20px;
width:350px;
margin-top:30px;
border-radius:10px;
}

.cf-header{
font-weight:bold;
margin-bottom:20px;
}

.cf-check{
display:flex;
gap:10px;
cursor:pointer;
}

.cf-footer{
font-size:12px;
margin-top:20px;
color:gray;
}

#summaryBox{
width:700px;
background:white;
margin-top:20px;
padding:20px;
border-radius:10px;
}
